


RewriteEngine On



RewriteBase /truelysell-new-demo/



RewriteRule ^index\.php$ - [L]



RewriteCond %{REQUEST_FILENAME} !-f



RewriteCond %{REQUEST_FILENAME} !-d



RewriteRule . /truelysell-new-demo/index.php [L]


